<form action="/recipes" method="post">
  <p><input type="text" name="name" id="name" placeholder="Name"></p>
  <p><input type="text" name="ingredients" id="ingredients" placeholder="Ingredients"></p>
  <p><input type="text" name="cook_time" id="cook_time" placeholder="Cook time"></p>
  <p><input type="submit" value="Create recipe"></p>
</form>
